<div class="row">
	<div class="col-xs-12 col-md-9">
		<div class="row">
			<div class="col-xs-12 col-sm-6">

				<div class="panel panel-primary">
					<div class="panel-heading" ng-model="proposal.proposalData.name">
						<h2 class="panel-title">Proposal name</h2>
					</div>
					<div class="panel-body">
						{{ proposal.proposalData.name }}
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading" ng-model="proposal.proposalData.address">
						<h2 class="panel-title">Proposal address</h2>
					</div>
					<div class="panel-body">
						{{ proposal.proposalData.address }}
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading" ng-model="proposal.proposalData.openingHours">
						<h2 class="panel-title">Opening hours</h2>
					</div>
					<div class="panel-body">
						{{ proposal.proposalData.openingHours }}
					</div>
				</div>
